/* changes over whole page */
* {
    /* color: lightgray; */
    /* background-color: darkgray; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0%; */
    padding-left: 0%;
    padding-right: 0%;
}



/* for heading 1 */
h1 {
    font-size: 50px;
}

/* for body and header */
body > header {
    margin: 0%;
}

/* give my links color */
a:link{
    color: darkblue;
}
a:visited{
    color: darkred;
}
a:hover{
    color: darkgreen;
}
a:active{
    color: darkgoldenrod;
}

/* for articles */
main > div > article {
    color: black;
}

header > div, body > footer {
    background-color: black !important;
    color: grey;
}

/* for main footer */
body > footer {
    height: 50px;
}
